@{
    ViewData["Title"] = "Products Manager";
    ViewData["css"] = "<link rel='stylesheet' href='~/lib/teamplate_back_end/datatables.net-bs/css/dataTables.bootstrap.min.css'>";
    ViewData["js"] = "/js/back_end/Product/proIndex.js";
}


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Products</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="col-sm-12 row">
                            <div class="card-header col-sm-3 col-md-2">
                                <a asp-area="" asp-controller="AdminProduct" asp-action="Create" type="button" class="btn btn-block btn-success">
                                    New Product
                                </a>
                            </div>
                            <div class="card-header col-sm-9 col-md-10">
                                <div class="input-group col-sm-6 float-sm-right">
                                    <input type="text" class="form-control" name="proName" placeholder="Search Products">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" onclick="search()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="col-sm-12">
                                        <th class="col-sm-1">Id</th>
                                        <th class="col-sm-1">Name</th>
                                        <th class="col-sm-1">Price</th>
                                        <th class="col-sm-1">Quantity</th>
                                        <th class="col-sm-3">description</th>
                                        <th class="col-sm-2">Image</th>
                                        
                                        <th class="col-sm-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyResult">
                                </tbody>
                            </table>
                            <div id="pagination" style="padding-top: 10px">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);" onclick="per()" id="Previous">Previous</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);">
                                                <span id="curPage">1</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);" onclick="next()" id="Next">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div id="Spinner">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script id="courseTemplate" type="text/x-jquery-tmpl">
     <tr>
      <td scope="row">${STT}</td>
      <td>${proName}</td>
       <td>${proPrice}</td>
        <td>${proQuantity}</td>
         <td>${proDescription}</td>
          <td><img src="${proImg}" class="img-thumbnail"  id="imgSize" style="height:120px;width:150px;"></td>
           
      <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg" onclick="showInfo(${proId})">
              Edit
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" onclick="deleteAt(${proId})" data-target="#modal-sm">
              Delete
          </button>
      </td>
    </tr>
</script>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-11">
                                <input type="hidden" class="form-control" id="txtId">
                            </div>
                            <label for="txtName" class="col-sm-3 col-form-label">Product name</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="txtName" placeholder="Product name">
                            </div>
                            <div class="invalid-feedback" style="font-size:15px;" id="pName"></div>
                        </div>
                       
                        <div class="row">
                            <label for="txtPrice" class="col-sm-3 col-form-label">Product price</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="txtPrice">
                            </div>
                            <div class="invalid-feedback" style="font-size:15px;" id="pPrice"></div>
                        </div>
                        <div class="row">
                            <label for="txtQuantity" class="col-sm-3 col-form-label">Product quantity</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="txtQuantity">
                            </div>
                            <div class="invalid-feedback" style="font-size:15px;" id="pQuantity"></div>
                        </div>
                        <div class="row">
                            <label for="txtDescription" class="col-sm-3 col-form-label">Product description</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="txtDescription">
                            </div>
                            <div class="invalid-feedback" style="font-size:15px;" id="pDescription"></div>
                        </div>
                        <div class="row">
                            <label for="txtImg" class="col-sm-3 col-form-label">Product image</label>
                            <div class="col-sm-11 custom-file">
                                <input type="file" class="custom-file-input" name="proImg" id="fileinput" accept="image/png, image/jpeg">
                                <label class="custom-file-label" for="fileinput">Choose file</label>
                            </div>
                        </div>
                        <div class="row" id="getImg">
                        </div>
                        <div class="row">
                            <label for="txtCategory" class="col-sm-3 col-form-label">Product category</label>
                            <div class="col-sm-11">
                                <select class="custom-select" id="tbodyResult2"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Product?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this Product?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>


<script id="courseTemplate2" type="text/x-jquery-tmpl">
    <option value="${cateId}">${cateName}</option>
</script>


